<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Raleway:200' rel='stylesheet' type='text/css'>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/nav.css">
	<link rel="stylesheet" type="text/css" href="css/results.css">

</head>
<body>
<div class="stickyNav">
	
		<a href="/"><div id="circle"><img src="images/ipa.png"/></div></a>
		
		<div id="title">ReBrew</div>
		
		<form action="/search">
			<input  class="form-control" type="text" name="searchBeer"placeholder="Search by Beer"></input>
			<button type="submit" class="btn btn-default">Search</button>
		</form>
	
</div>

<div id="results">
	
		<ul>
			<% var details%>
			<% details.forEach(function(beer) { %>
	      		<%for(var key in beer.labels){%>
					<%var val =beer.labels[key];%>
				<%}%>
				
				<li class="listedBeers">
					
						<%if(!val){%>		
							<a><img src="images/noImage.png"/><%=beer.name%></a>
						<%}else{%>
							<a><img src='<%=val%>'/><%=beer.name%></a>
						<%};%>
					<div class="aboutBeer">
						<img src='<%=val%>'/><hr>
						
						<%=beer.description%><br>
						ABV:<%=beer.abv%>%
						
					</div>	
				</li>
	        <%});%>
	    </ul>
	   
	</div>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="js/beer.js"></script>
</body>
</html>