<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Raleway:200' rel='stylesheet' type='text/css'>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/nav.css">
	<link rel="stylesheet" type="text/css" href="css/results.css">
	<meta name="viewport" content="width=device-width" />

</head>
<body>
	
	<div class="stickyNav">
		
			<a href="/"><div id="circle"><img src="images/ipa.png"/></div></a>
			
			<div id="title">ReBrew</div>
			
			<form action="/search">
				<input  class="form-control" type="text" name="searchBeer"placeholder="Search Beer"></input>
				<button type="submit" class="btn btn-default">Search</button>
			</form>
		
	</div>
		<form class="responsive-form" action="/search">
			<input  class="form-control" type="text" name="searchBeer"placeholder="Search Beer"></input>
			<button type="submit" class="btn btn-default">Search</button>
		</form>
		

	<div id="results">
		
			<ul>
				
				<% details.forEach(function(beer) { %>
		      		<%for(var key in beer.labels){%>
						<%var val =beer.labels[key];%>
					<%}%>
					
					<li class="listedBeers">
						
							<%if(!val){%>		
								<a><img src="images/noImage.png"/><%=beer.name%></a>
							<%}else{%>
								<a><img src='<%=val%>'/><%=beer.name%></a>
							<%};%>
						<div class="aboutBeer">
							<img src='<%=val%>'/><hr>
							
							<%=beer.description%><br>
							<%if(beer.abv){%>
								ABV:<%=beer.abv%>%
							<%}%>
							
						</div>	
					</li>
		        <%});%>
		    </ul>
		   
		</div>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="js/beer.js"></script>
		<script src="js/jquery.sticky-kit.min.js" type="text/javascript" charset="utf-8"></script>
		<script>
			$(".responsive-form").stick_in_parent({recalc_every:1})
		</script>
</body>
</html>